<div id="loginContainer" style="display: none;">
    <div id="loginCancelContainer" style="display: none;">
        <button id="loginCancelButton">
            <div id="loginCancelIcon">X</div>
            <span id="loginCancelText">キャンセル</span>
        </button>
    </div>
    <div id="loginContent">
        <form id="loginForm">
            <span id="loginSubheader">MINECRAFT LOGIN</span>
            <h1>mojangアカウントでのログインはできません</h1>
            <p>キャンセルから戻ってください</p>
        </form>
    </div>
    <script src="./assets/js/scripts/login.js"></script>
</div>