<div id="loginOptionsContainer" style="display: none;">
    <div id="loginOptionsContent">
        <div class="loginOptionsMainContent">
            <h2>Microsoftアカウントでログイン</h2>
            <div class="loginOptionActions">
                <div class="loginOptionButtonContainer">
                    <button id="loginOptionMicrosoft" class="loginOptionButton">
                        <span>ここでログインする！</span>
                    </button>
                </div>
            </div>
            <p style="font-size: 12px; margin-top:50px;">mojangアカウントでのログインは、移行されるためログインできません<br>詳しい移行方法はMinecraft公式ホームページから参照してください</p>
            <div id="loginOptionCancelContainer" style="display: none;">
                <button id="loginOptionCancelButton">Cancel</button>
            </div>
        </div>
    </div>
    <script src="./assets/js/scripts/loginOptions.js"></script>
</div>