<div id="waitingContainer" style="display: none;">
    <div id="waitingContent">
        <div class="waitingSpinner"></div>
        <div id="waitingTextContainer">
            <h2>マイクロソフトでのログインを待機中...</h2>
        </div>
    </div>
</div>